body {
    font-family: 'Roboto', 'Sans Serif';
    font-size: 16px;
    padding: 0;
    margin: 0;
}
header {
    background-color: #03A9F4;
    padding: 14px;
}
header h1 {
    color: #FFF;
}
.content .sources-block ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.content .sources-block li {
    text-align: center;
}
.content .source-list-img:hover {
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.18);
    cursor: pointer;
}
.news-block {
    width: 60%;
    margin: 50px auto 20px;
}
.news-list-item {
    border-style: solid;
    border-color: #E7E7E7;
    border-width: 1px;
    background-color: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    margin-top: -1px;
    padding: 10px;
}
.news-list-item:hover {
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.18);
}
.news-list-item img {
    max-width: 100%;
    height: 200px;
    width: 200px;
    align-self: center;
}
.news-list-item-wrapper {
    padding-left: 20px;
}
.news-list-item-title a,
.news-list-item-button {
    color: #03A9F4;
    text-decoration: none;
}
.caption {
    font-weight: bold;
}
@media only screen and (max-width: 1200px) {
    .news-block {
        width: 80%;
        margin: 50px auto 20px;
    }
}
@media only screen and (max-width: 600px) {
    .news-block {
        width: 98%;
        margin: 50px auto 20px;
    }
}